<!doctype html>
<html ng-app>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

    <script type="text/javascript">

function PackagesVersionsCtrl($scope) {
  $scope.packagesVersions = ###INJECT_ME_HERE###;

  $scope.getCssClass = function(status) {
    if (status === 'UP TO DATE') {
      return "";
    } else if (status === 'OUTDATED') {
      return "warning";
    }
    return "danger";
  };

  $scope.predicate = "packageName";
  $scope.distincts = {};
  $scope.filterObj = {};

  $scope.resetFilter = function(k) {
    delete $scope.filterObj[k];
  };

  $scope.updatedDate = moment(new Date("##UPDATE_TIMESTAMP##"));
  $scope.updatedAgo  = "";

  $scope.nowDate = moment(new Date());

  $scope.updatedOn = function() {
    $scope.updatedAgo = $scope.updatedDate.fromNow();
    $scope.nowDate    = moment(new Date());
    $scope.$apply();
    setTimeout($scope.updatedOn, 1000);
  };

  // Build distincts with a set.
  var distincts = {};
  for (var i = 0; i < $scope.packagesVersions.length; i++) {
    var pvKeys = Object.keys($scope.packagesVersions[i]);
    for (var j = 0; j < pvKeys.length; j++) {
      var key = pvKeys[j];
      distincts[key] = distincts[key] || {};
      distincts[key][$scope.packagesVersions[i][key]] = true;
    }
  }

  // Transform it into array.
  var distinctsKeys = Object.keys(distincts);
  for (var i = 0; i < distinctsKeys.length; i++) {
    $scope.distincts[distinctsKeys[i]] = Object.keys(distincts[distinctsKeys[i]]).sort();
  }

  setTimeout($scope.updatedOn, 0);
}

    </script>
  </head>
  <body ng-controller="PackagesVersionsCtrl">
    <input
      type="text" ng-model="search" class="search-query"
      placeholder="Search anywhere"
      style="width:99%; margin:10px; text-align:center;">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Package</th>
          <th>Dependency</th>
          <th>Full Description</th>
          <th>Dependency Version</th>
          <th>Latest Version</th>
          <th>Status</th>
        </tr>
        <tr>
          <th><select ng-options="v for v in distincts.packageName" ng-model="filterObj.packageName"></select>
              <a href="" ng-click="resetFilter('packageName')">X</a></th>
          <th><select ng-options="v for v in distincts.dependencyName" ng-model="filterObj.dependencyName"></select>
              <a href="" ng-click="resetFilter('dependencyName')">X</a></th>
          <th><select ng-options="v for v in distincts.dependencyDesc" ng-model="filterObj.dependencyDesc"></select>
              <a href="" ng-click="resetFilter('dependencyDesc')">X</a></th>
          <th><select ng-options="v for v in distincts.depVersion" ng-model="filterObj.depVersion"></select>
              <a href="" ng-click="resetFilter('depVersion')">X</a></th>
          <th><select ng-options="v for v in distincts.repositoryVersion" ng-model="filterObj.repositoryVersion"></select>
              <a href="" ng-click="resetFilter('repositoryVersion')">X</a></th>
          <th><select ng-options="v for v in distincts.info" ng-model="filterObj.info"></select>
              <a href="" ng-click="resetFilter('info')">X</a></th>
        </tr>
      </thead>


      <tbody>
        <tr ng-repeat="pv in packagesVersions | filter:filterObj:true | filter:search | orderBy:predicate"
            ng-class="getCssClass(pv.info)" >
          <td>{{pv.packageName}}</td>
          <td>{{pv.dependencyName}}</td>
          <td>{{pv.dependencyDesc}}</td>
          <td>{{pv.depVersion}}</td>
          <td>{{pv.repositoryVersion}}</td>
          <td>{{pv.info}}</td>
        </tr>
      </tbody>
    </table>
  <p>Updated {{updatedAgo}} (on {{updatedDate.format('LLLL')}})</p>
  </body>
</html>
